* {
  font-family: sans-serif;
}

nav {
  width: 100%;
}

nav {
  text-align: left;
  background: #ee9972;
  padding: 20px;
}

nav a {
  color: #edefee;
  text-decoration: none;
  font-size: 30px;
  margin-right: 20px;
}

/* 
.row,
.col {
  text-align: center;

} */

/* h1 {
  margin-top: 20px;
} */
/* 
div {
  text-align: center; */
/* } */

/* 
input {

  font-size: 20px;
  padding: 20px;
  width: 25%;
  font-family: Verdana, sans-serif;
}

ul {
  text-align: center;
}





*/

/* .row,
.row input {
  margin: 20px;
  width: 50%;
} */

h1,
h2,
h3,
h4,
h5,
h6,
input {
  text-align: center;
}

.border-success:disabled {
  background: 'green'
}

img {
  text-align: center;
}

body {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
}

/* Options App: */

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: center;
  border-bottom: 2px solid black;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;

}

thead button.ascending::after {
  content: '↑';
  display: inline-block;
  font-size: 1.5rem;
  transition: 300ms linear all;
  /* margin-left: 1em; */
}

thead button.descending::after {
  content: '↑';
  transform: rotate(180deg);
  /* transition-delay: 2s; */
  transition: 300ms linear all;
  font-size: 1.5rem;
  display: inline-block;
  /* margin-left: 1em; */
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

tbody tr {
  text-align: center;
}