table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    
    text-align: center;
    border-bottom: 2px solid black;
    position: sticky;
    padding-bottom: 0.5rem;
}

th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
}

thead button {
    /* border: black; */
    border: none;
    border-radius: none;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;

}

thead button.ascending::after {
    content: '↑';
    display: inline-block;
    font-size: 1.5rem;
    transition: 300ms linear all;
    /* margin-left: 1em; */
}

thead button.descending::after {
    content: '↑';
    transform: rotate(180deg);
    /* transition-delay: 2s; */
    transition: 300ms linear all;
    font-size: 1.5rem;
    display: inline-block;
    /* margin-left: 1em; */
}

tbody td {
    padding: 0.5em;
    border-bottom: 1px solid black;
}

tbody tr:hover {
    background-color: #eee;
}

tbody tr {
    text-align: center;
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

/* button.descending.profit {
    color: blue;
} */

/* table th {
    border: black;
} */

/* tbody tr td {
    padding: 0.5px;
} */
/* tbody {
    
    color: black;
} */

.text-white {
    color: black;
}

select, option:checked {
    color: 'blue'
}

/* #dropdown-basic:hover {background-color: white;}  */

.text-white {
    background-color: #20c997;
}

/* .row {
    display: inline;
}

.col {
    display: inline;
} */

/* th button {
    background-color: white;
} */

.bg-white button{
    background-color: white;
}

.bg-grey button{
    background-color: grey;
}

.bg-danger-subtle {
    color: red;
    
}

.bg-success-subtle {
    color: green;
    
}