table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: center;
    border-bottom: 2px solid black;
}

thead button {
    /* border: black; */
    border: none;
    border-radius: none;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;

}

thead button.ascending::after {
    content: '↑';
    display: inline-block;
    font-size: 1.5rem;
    transition: 300ms linear all;
    /* margin-left: 1em; */
}

thead button.descending::after {
    content: '↑';
    transform: rotate(180deg);
    /* transition-delay: 2s; */
    transition: 300ms linear all;
    font-size: 1.5rem;
    display: inline-block;
    /* margin-left: 1em; */
}

tbody td {
    padding: 0.5em;
    border-bottom: 2px solid black;
}

tbody tr:hover {
    background-color: #eee;
}

tbody tr {
    text-align: center;
}

table td {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

/* button.descending.profit {
    color: blue;
} */

/* table th {
    border: black;
} */

/* tbody tr td {
    padding: 0.5px;
} */
tbody {
    font-weight: 700;
    color: black;
}

.text-white {
    color: black;
}